$display-background-color: #292c34; 
$display-text-color: white;
$display-font-size: 30px;


$button-background-color: white;
$button-hover-background-color: dimgray;
$button-hover-color: white;
$button-hover-transition: color 0.5s ease-in-out;

$function-button-background-color: lightgrey;
$function-button-color: black;

$clear-button-background-color: orange;
$clear-button-color: white;